- if object.errors.any?
  #error_explanation
    .alert.alert-danger
      = t 'form.errors', count: object.errors.count
    %ul
      - object.errors.full_messages.each do |message|
        %li= message
