%footer.footer
  %small
    Il mondo di Silvia by
    = link_to "Paolo D'Apice", 'https://cn.linkedin.com/in/paolodapice', target: '_blank'
  %nav
    %ul
      %li= link_to t('.about'), about_path
      %li= link_to t('.contact'), contact_path
